.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-IssuesSection-wrapper {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

h1 {
  font-family: 'Lucida Sans', sans-serif;
  color: rgb(30, 144, 255);
}

h2 {
  font-family: 'Lucida Sans', sans-serif;
  color: rgb(99, 98, 98);
}
h3 {
  font-family: 'Lucida Sans', sans-serif;
  color: rgb(99, 98, 98);
}
p {
  font-family: 'Lucida Sans', sans-serif;
  color: rgb(99, 98, 98);
}
button {
  background-color: rgb(30, 144, 255);
  color: white;
  border-radius: 2px;
  cursor: pointer;
  border: 0px;
  font-family: Verdana, Helvetica, sans-serif;
  padding: 3px 5px ;
  font-weight: 700;
}

button:hover {
  color: rgb(99, 98, 98);
  transition: .2s;
  box-shadow: 1px 1px 8px 0px rgb(99, 98, 98);
}
